.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  .feature {
    margin-bottom: 2rem;
  }
}

.featureSvg {
  height: 12rem;
  width: 12rem;
}
