.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  .feature {
    margin-bottom: 2rem;
  }
  .row {
    justify-content: center;
  }
}

.featureSvg {
  height: 10rem;
  width: 10rem;
}
